@import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.menu {
  background-color: #1f2833;
  font-family: 'Montserrat', sans-serif;
  height: 110px;
}
nav {
  margin-right: 86px;
}

h1 {
  text-align: center;
  color: #ebebeb;
  font-size: 1.8rem;
  padding-top: 10px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.menu-list {
  color: #ebebeb;
  width: 85%;
  margin: 5px auto 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menu-list li {
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-list li:hover {
  color: #88a3fc;
}

.menu-list li button {
  cursor: pointer;
  padding: 7px 30px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background-color: #73ffa6;
  border-radius: 0.2em;
  font-family: 'Montserrat', sans-serif;
  color: #21273a;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  text-shadow: none;
}

.menu-list li button:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);

  text-shadow: 0.2px 0.2px 0.5px #427388;
}

.menu-list li button:active {
  background-color: #64d78e;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
.dropdown-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 8px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;

  margin-left: 5px;
}

.start-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  margin-bottom: 2.2px;
  vertical-align: middle;
  border-top: 9px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  transform: rotate(-90deg);
}

.algo-dropdown {
  background-color: #1f2833;
  width: 220px;
  display: block;
  position: absolute;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  left: 5.2%;
  margin-top: 12px;

  z-index: 2;
  list-style: none;
}

.algo-dropdown li {
  color: #ebebeb;
  padding: 20px 10px;
  font-size: 1.125rem;

  cursor: pointer;
}
.algo-dropdown li:hover {
  background-color: #88a3fc;
  color: #ebebeb;
}

.maze-dropdown {
  background-color: #1f2833;
  width: 230px;
  display: block;
  position: absolute;
  left: 18%;
  margin-top: 12px;

  z-index: 2;
  list-style: none;

  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.maze-dropdown li {
  color: #ebebeb;
  padding: 20px 10px;
  font-size: 1.125rem;
  cursor: pointer;
}
.maze-dropdown li:hover {
  background-color: #88a3fc;
  color: #ebebeb;
}

.speed-dropdown {
  background-color: #1f2833;
  width: 190px;
  display: block;
  position: absolute;
  left: 32%;
  margin-top: 12px;

  z-index: 2;
  list-style: none;

  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.speed-dropdown li {
  color: #ebebeb;
  padding: 20px 10px;
  font-size: 1.125rem;
  cursor: pointer;
}
.speed-dropdown li:hover {
  background-color: #88a3fc;

  color: #ebebeb;
}

.hidden {
  display: none;
}

.menu-list li .disabled {
  background-color: #ff7373;
}
