.node {
  height: 30px;
  width: 30px;
  border: 1px solid #79c1ff;
  background-color: #fff;
}

.wall {
  /* background-color: #2b3661; */
  border: none;
  animation-name: wallAnimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.start {
  background-image: url(../images/svg/startnode.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.target {
  background-image: url(../images/svg/finishnode.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Old school computer animation */
/* @keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #292e49;
    border-radius: 100%;
  }

  50% {
    background-color: #536976;
  }

  75% {
    transform: scale(1.2);
    background-color: #889fac;
  }

  100% {
    transform: scale(1);
    background-color: #bbd2c5;
  }
} */
/* Preferred atm */
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #283048;
    border-radius: 100%;
  }

  50% {
    background-color: #3b466a;
  }

  75% {
    transform: scale(1.2);
    background-color: #6e7ba7;
  }

  100% {
    transform: scale(1);
    background-color: #6980c9;
  }
}

/* COLD ANIMATION  */
/* @keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #2a5174;
    border-radius: 100%;
  }

  50% {
    background-color: #356894;
  }

  75% {
    transform: scale(1.2);
    background-color: #468ac6;
  }

  100% {
    transform: scale(1);
    background-color: #54a1e4;
  }
} */

@keyframes specialNodes {
  0% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(1);
    /*background-color: darkslategrey;*/
  }

  100% {
    transform: scale(0.9);
    /*background-color: darkslategrey;*/
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: #5569b6;
  }

  50% {
    transform: scale(1.2);
    background-color: #3a477b;
  }

  100% {
    transform: scale(1);
    background-color: #222b4d;
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.7);
    background-color: #60da8d;
  }

  50% {
    transform: scale(1.2);

    background-color: #60da8d;
  }

  100% {
    transform: scale(1);

    background-color: #60da8d;
  }
}

/* transition #000428 */
