* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 200px;
}

.container {
  margin-top: 100px;
  margin-right: 'auto';
  margin-left: 'auto';
  width: '100%';
  display: flex;
  justify-content: center;
  align-items: center;
}
