@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.tutorial-container {
  position: absolute;
  background-color: #1f2833;

  border-radius: 0.2em;
  height: 560px;
  width: 740px;
  float: right;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.tutorial-page {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-between;
  color: #ebebeb;
  margin-top: 30px;
}

.tutorial-page-four {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  color: #ebebeb;
}
.tutorial-page-eight {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  color: #ebebeb;
  margin-top: 30px;
}
.tutorial-page-four ul {
  margin-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  list-style: none;
}

.tutorial-page-four ul li span {
  color: #88a3fc;
  font-weight: 700;
}

.tutorial-page-four ul li {
  margin: 20px 0;
  letter-spacing: 1px;
}

h3 {
  font-weight: 700;
  color: #ebebeb;
  font-size: 2.5rem;
}

h6 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 40px;
}

.path-img {
  background-image: url('../images/png/path.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}
.page-two-h6 {
  margin-top: -10px;
  font-size: 1.6rem;
}

.page-two-paragraphs {
  margin-top: -20px;
}
.page-two-paragraphs p {
  margin: 10px auto;
  font-size: 1.1rem;
  width: 95%;
}

.purpose-paragraph {
  font-size: 1.3rem;
}

.skip-paragraph {
  font-size: 1.3rem;
}

.rocket-img {
  background-image: url('../images/svg/rocket.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

.algo-img {
  background-image: url('../images/png/algorithms.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.page-three-explanation {
  font-size: 1.2rem;
}

.page-three-h6 {
  margin-top: 5px;
}

.walls-gif {
  background-image: url('../images/gif/walls.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  height: 170px;
}

.move-gif {
  background-image: url('../images/gif/move.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  height: 170px;
}

.navbar-img {
  background-image: url('../images/png/navbar.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -10px;
  height: 120px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
}

.page-seven-h6 {
  width: 95%;
  margin: -50px auto 0 auto;
}

.navbar-info {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  font-size: 1.2rem;
}

.github-link {
  /* text-decoration: none; */
  color: #73ffa6;
}

.tutorial-page-five {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  color: #ebebeb;
  margin-top: 20px;
}

.tutorial-page-five h6 {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.tutorial-page-five p {
  font-size: 1.1rem;
  width: 95%;
  line-height: 1.6;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}

.page-counter {
  position: absolute;
  right: 2%;
  top: 1%;
  font-size: 1.5rem;
  color: #ebebeb;
}

.tutorial-button-group {
  margin-top: 20px;
  display: flex;
}

.tutorial-button {
  cursor: pointer;
  padding: 7px 30px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  background-color: #73ffa6;
  border-radius: 0.2em;
  font-family: 'Coda', sans-serif;
  color: #21273a;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  text-shadow: none;
}

.tutorial-button:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);

  text-shadow: 0.2px 0.2px 0.5px #427388;
}

.tutorial-button:active {
  background-color: #64d78e;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.previous {
  margin-left: auto;
}

.next {
  margin-right: 20px;
  margin-left: 12px;
}

.skip {
  margin-left: 20px;
}

.hidden {
  display: none;
}
